/*app公共样式*/

/*标题栏主题*/
.mui-bar-nav {
	background-color: #179FFE;
}
	
/*背景白色*/
.base-bg-white{
	background-color: #FFFFFF;	
	font-size: .34rem !important;
}

.mui-bar-nav .mui-title {
	color: #FFFFFF;
}

.base-content{
	margin-top: 44px;
}

/*标题右侧图标*/
.mui-bar-nav .mui-btn {
	background-color: #179FFE;
	color: #FFFFFF;
	border: 1px solid #179FFE !important;
	position: absolute;
	right: .1rem;
	padding: .08rem !important;
}
.mui-bar-nav .right {
	position: absolute;
	right: .3rem;
	top: .3rem;
    margin-top: -.15rem;
}
.mui-bar-nav img{
	width: 20px;
	top: 20px !important;
}

/*标题栏返回键*/
.mui-bar-nav.mui-bar .mui-icon {
	color: #FFFFFF;
	width: .23rem;
	height: .4rem;
}

/*上下拉插件样式*/
.mui-pull-bottom-tips{
	background-color: #efeff4 !important;
}
.mui-pull-loading {
	font-size: .18rem;
}

/*placeholder字体颜色*/
input::-webkit-input-placeholder {
	color: #FFFFFF;
	font-size: .18rem;
}

input::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	color: #FFFFFF;
	font-size: .18rem;

}

input:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	color: #FFFFFF;
	font-size: .18rem;

}

input:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #FFFFFF;
	font-size: .18rem;

}

/*底部分割线*/
.base-border-bottom {
	border-bottom: 1px solid #EFEFF4;
}

/*去除底部分割线*/
.base-clear-border {
	border: 1px solid #FFFFFF !important;
}

/*flex布局(兼容android4.4及以上)*/

/*水平排列垂直居中*/
.base-flex-horizontal {
	display: flex;
	align-items: center;
}

/*水平居中垂直排列*/
.base-flex-vertical {
	display: flex;
	align-items: center;
	flex-direction: column;
}

/*水平垂直居中*/
.base-flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

/*水平首尾垂直居中*/
.base-flex-between {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.mui-bar-nav~.mui-content .mui-slider.mui-fullscreen{
	top: 55px;
}
.mui-fullscreen .mui-segmented-control~.mui-slider-group{
	top: 50px !important;
}
.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
	border-bottom: 2px solid rgba(0,160,233,1) !important;
    font-size:.24rem;
    font-family:SourceHanSansCN-Regular;
    font-weight:400;
    color:rgba(0,160,233,1);
}
.mui-segmented-control.mui-segmented-control-inverted .mui-control-item {
	margin: 0 .3rem;
	display: inline-table !important;
}