<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, viewport-fit=cover">
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/base.css" />
		<link rel="stylesheet" type="text/css" href="../../css/lib/pull-top-tips.css" />
		<link rel="stylesheet" type="text/css" href="../../css/lib/animate.min.css"/>
		<link rel="stylesheet" type="text/css" href="css/home-spare.css" />
		<style>
			.info{
				font-size: .22rem;
			}
			.mui-table-view-cell .show .info{
				height: .85rem;
			}
			.checkbox{
				width: .3rem;
				height: .3rem;
				border-radius: 50%;
				border: 1px solid #000000;
			}
			.checkbox .dot{
				background-color: #000000;
				width: .18rem;
				height: .18rem;
				border-radius: 50%;
			}
			.mask{
				position: absolute;
				top: 0;
				width: 100%;
				background: rgba(0,0,0,0.2);
				height: 1.7rem;
				top: 0px;
				z-index: 9999;
				color: #FFFFFF;
				padding: 0 .74rem !important;
			}
			.mask .button{
				width: .88rem;
				height: .5rem;
				border: 1px solid #FFFFFF;
			}
			.mask .desc{
                height:.32rem;
                font-size:.34rem;
                font-family:SourceHanSansCN-Regular;
                font-weight:400;
                color:rgba(255,255,255,1);
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">支架管理</h1>
		</header>
		<div id="app" class="mui-content">
			<div class="mask base-flex-between animated fadeIn" v-if="maskShow">
				<div class="button base-flex-center" @tap="cancelMask()">取消</div>
				<div class="desc">已选{{count}}个</div>
				<div class="button base-flex-center" @tap="getSupport()">借阅</div>
			</div>
			<div class="search">
				<div class="line base-flex-horizontal">
					<input type="text" placeholder="请输入设备名称/编号" v-model="searchWords">
					<div class="container base-flex-center" @tap="searchEvent()">
						<img src="../../images/icon/search.png" class="icon" />
					</div>
				</div>
			</div>
			<div class="mui-scroll-wrapper">
				<div class="mui-scroll">
					<ul class="mui-table-view mui-clearfix">
						<li class="mui-table-view-cell mui-collapse">
							<a class="show" @tap="itemShowEvent(0)">
								<div class="info base-flex-between ">
									<div class="line">
										<div>支架名称</div>
										<div class="base-flex-horizontal">
											<div class="desc">位置：</div>
											<div>00001-1</div>
										</div>
									</div>
									<div class="line checkbox base-flex-center" @tap.stop="itemCheckEvent()">
										<div class="dot"></div>
									</div>
								</div>
								<div class="tool base-flex-between" v-if="activeIndex !== 0">
									<div>基本信息</div>
									<div class="action">展开 <i class="mui-icon mui-icon-arrowright"></i></div>
								</div>
							</a>
							<div class="mui-collapse-content">
								<div class="base-flex-between line">
									<div>支架种类</div>
									<div>QBK-OL-301</div>
								</div>
								<div class="base-flex-between line">
									<div>序号</div>
									<div>MF-120</div>
								</div>
								<div class="base-flex-between line">
									<div>位置</div>
									<div>上海小糸车灯有限公司</div>
								</div>
								<div class="base-flex-between line">
									<div>借阅人</div>
									<div>小朱</div>
								</div>
								<div class="base-flex-between line">
									<div>借阅时间</div>
									<div>2018-06-04</div>
								</div>
								<div class="base-flex-between line" @tap="pickUpEvent()">
									<div class="split"></div>
									<div class="action">收起 <i class="mui-icon mui-icon-arrowup"></i></div>
								</div>
							</div>
						</li>
						<li class="mui-table-view-cell mui-collapse">
							<a class="show" @tap="itemShowEvent(1)">
								<div class="info base-flex-between ">
									<div class="line">
										<div>支架名称</div>
										<div class="base-flex-horizontal">
											<div class="desc">位置：</div>
											<div>00001-1</div>
										</div>
									</div>
									<div class="line checkbox base-flex-center" @tap="itemCheckEvent()">
										<div class="dot"></div>
									</div>
								</div>
								<div class="tool base-flex-between" v-if="activeIndex !== 1">
									<div>基本信息</div>
									<div class="action">展开 <i class="mui-icon mui-icon-arrowright"></i></div>
								</div>
							</a>
							<div class="mui-collapse-content">
								<div class="base-flex-between line">
									<div>支架种类</div>
									<div>QBK-OL-301</div>
								</div>
								<div class="base-flex-between line">
									<div>序号</div>
									<div>MF-120</div>
								</div>
								<div class="base-flex-between line">
									<div>位置</div>
									<div>上海小糸车灯有限公司</div>
								</div>
								<div class="base-flex-between line">
									<div>借阅人</div>
									<div>小朱</div>
								</div>
								<div class="base-flex-between line">
									<div>借阅时间</div>
									<div>2018-06-04</div>
								</div>
								<div class="base-flex-between line" @tap="pickUpEvent()">
									<div class="split"></div>
									<div class="action">收起 <i class="mui-icon mui-icon-arrowup"></i></div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<script src="../../js/mui.min.js"></script>
		<script src="../../js/lib/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/lib/browser.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../config.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/app.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/lib/mui.pullToRefresh.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/lib/mui.pullToRefresh.material.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/babel" charset="UTF-8">
			mui.init();
			var vm=new Vue({
				el:"#app",
				data:{
					searchWords:"",
					activeIndex:2,
					maskShow:false,
					count:0
				},				
				methods:{
					//取消借阅
					cancelMask:function(){
						this.maskShow=false;
						this.count=0;
					},
					getSupport:function(){
						this.maskShow=false;
						this.count=0;
					},
					searchEvent:function(){
						alert("搜索的关键字:  "+this.searchWords)
					},
					itemShowEvent:function(index){
						this.activeIndex==index ? this.activeIndex= -1 : this.activeIndex=index;				
					},
					pickUpEvent:function(){
						mui.each(document.querySelectorAll('.mui-table-view-cell'),function(index,item){
							item.setAttribute('class',"mui-table-view-cell mui-collapse");
						})
					},
					itemCheckEvent:function(e){
						this.count++;
                        this.maskShow=true;
					}
				}			
			});
			mui('.mui-scroll').pullToRefresh({
				up:{
					callback:function(){
						let pullObj=this;
						pullObj.endPullUpToRefresh(true);
					}
				},
				down:{
					callback:function(){
						let pullObj=this;
						pullObj.endPullDownToRefresh(true);
					}
				}
			})
				//初始化滑动
				mui('.mui-scroll-wrapper').scroll();
				//ios软键盘不会自动关闭
				apptools.iosBlur();
				webtool.backQuit();
			
		</script>
	</body>

</html>
