.base-content {
	margin-top: 1.11rem;
}

.main {
	padding: .26rem .4rem;
}

.main textarea {
	height: 3.65rem;
	border: 1px dashed rgba(0, 0, 0, .2);
	font-size: .28rem;
}

.main button {
	background-color: #179FFE;
	color: #FFFFFF;
	border: 0;
	position: absolute;
	right: .4rem;
}

.none {
	position: absolute;
	top: 50%;
	width: 2.76rem;
	left: 50%;
	margin-left: -1.38rem;
	margin-top: -1rem;
	font-size: .2rem;
	color: #A8A8A8;
}

.none img {
	width: .95rem;
	height: .75rem;
}
